<h1>Add a Car</h1>

<%= form_for @car do |f| %>

  <%= f.label :manufacturer_id %>
    <%= f.collection_select(:manufacturer_id, Manufacturer.all, :id, :name) %>
    <br>
    <br>
    <%= f.label :year %>
    <%= f.number_field :year  %>
    <br>
    <br>
    <%= f.label :mileage %>
    <%= f.number_field :mileage  %>
    <br>
    <br>
    <%= f.label :color %>
    <%= f.text_field :color %>
    <br>
    <br>
    <%= f.label :description %>
    <%= f.text_field :description %>
    <br>
    <br>
    <%= f.submit "Submit" %>
<% end %>

<%= link_to "Back to Car Listings", cars_path %>
